body {
    text-align: center;
    font-family: verdana;
}

td {
    padding: 0px;
}

div,
fieldset,
input,
select {
    padding: 5px;
    font-size: 1em;
}

input {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#switch_buttons {
    width: 10%;
}

select {
    width: 100%;
}

textarea {
    resize: none;
    width: 98%;
    height: 318px;
    padding: 5px;
    overflow: auto;
}

button {
    border: 0;
    border-radius: 0.3rem;
    background-color: #1fa3ec;
    color: #fff;
    line-height: 2.4rem;
    font-size: 1.2rem;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #0e70a4;
}

.bred {
    background-color: #d43535;
}

.bred:hover {
    background-color: #931f1f;
}

.bgrn {
    background-color: #47c266;
}

.bgrn:hover {
    background-color: #5aaf6f;
}

a {
    text-decoration: none;
}

.p {
    float: left;
    text-align: left;
}

.q {
    float: right;
    text-align: right;
}